html,body {height:100%; width:100%; padding:0px; margin:0px; }

.players{position:fixed; height:100%;width:100%; padding:0px; margin:0px;}

video{object-fit:fill;}

</style></head><body><style>

div#hls-video_fluid_control_video_source { display: none !important; }

  div#hls-video_fluid_controls_progress_container{    bottom: 58px;height: 2px; background-color: rgba(255, 0, 0, 0.68);}

div#hls-video_fluid_control_theatre { position: fixed; top: unset; bottom: 5px; right: 45px; }

  {

    #hls-video_fluid_initial_play_button:before {font-size:15px !important;}

 }

  @media screen and (max-width: 500px){

  #hls-video_fluid_control_theatre{display:none !important;}

    #hls-video_fluid_initial_play_button:before {font-size:12px !important;}

}

  .shr, .rfs{cursor:pointer;position: absolute;top:20px;padding: 6px; border: 0; border-radius: 8px; z-index: 99999999999999999999; font-size: 11px; font-family: tahoma; color: #fff; text-decoration: none;background:#b12025;}

  div#hls-video_fluid_controls_progress_container{background:#b12025;}

  #hls-video_fluid_control_duration:before{font-family:tahoma;}

  .fluid_initial_play{width:48px;border-radius:100%;}

  .fluid_initial_play .fluid_initial_play_button{margin-left:17px;}
